{% if user.is_authenticated %}
<html>

<body>

{% include 'bars.html'   %}




<div style="margin-left:100px; height:888px; max-height: 85vh;" class="pre-scrollable" >


<svg width="200" height="200">
  <rect x="50" y="20" width="150" height="150" style="fill:black;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />
    <text fill="#ffffff" font-size="45" font-family="Verdana"
  x="77" y="109"><a href="#"> SVG</a></text>
  Sorry, your browser does not support inline SVG.
</svg>

<svg width="200" height="200">
  <rect x="50" y="20" width="150" height="150" style="fill:black;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />
    <text fill="#ffffff" font-size="45" font-family="Verdana"
  x="77" y="109">SVG</text>
  Sorry, your browser does not support inline SVG.
</svg>


<svg width="200" height="200">
  <rect x="50" y="20" width="150" height="150" style="fill:black;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />
    <text fill="#ffffff" font-size="45" font-family="Verdana"
  x="77" y="109">SVG</text>
  Sorry, your browser does not support inline SVG.
</svg>

<svg width="200" height="200">
  <rect x="50" y="20" width="150" height="150" style="fill:black;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />
    <text fill="#ffffff" font-size="45" font-family="Verdana"
  x="77" y="109">SVG</text>
  Sorry, your browser does not support inline SVG.
</svg>


<svg width="200" height="200">
  <rect x="50" y="20" width="150" height="150" style="fill:black;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />
    <text fill="#ffffff" font-size="45" font-family="Verdana"
  x="77" y="109">SVG</text>
  Sorry, your browser does not support inline SVG.
</svg>


<svg width="200" height="200">
  <rect x="50" y="20" width="150" height="150" style="fill:black;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />
    <text fill="#ffffff" font-size="45" font-family="Verdana"
  x="77" y="109">SVG</text>
  Sorry, your browser does not support inline SVG.
</svg>


<svg width="200" height="180">
  <rect x="50" y="20" width="150" height="150" style="fill:black;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />
    <text fill="#ffffff" font-size="45" font-family="Verdana"
  x="77" y="109">SVG</text>
  Sorry, your browser does not support inline SVG.
</svg>


<svg width="200" height="180">
  <rect x="50" y="20" width="150" height="150" style="fill:black;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />
    <text fill="#ffffff" font-size="45" font-family="Verdana"
  x="77" y="109">SVG</text>
  Sorry, your browser does not support inline SVG.
</svg>


<svg width="200" height="200">
  <rect x="50" y="20" width="150" height="150" style="fill:black;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />
    <text fill="#ffffff" font-size="45" font-family="Verdana"
  x="77" y="109">SVG</text>
  Sorry, your browser does not support inline SVG.
</svg>

<svg width="200" height="200">
  <rect x="50" y="20" width="150" height="150" style="fill:black;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />
    <text fill="#ffffff" font-size="45" font-family="Verdana"
  x="77" y="109">SVG</text>
  Sorry, your browser does not support inline SVG.
</svg>


<svg width="200" height="200">
  <rect x="50" y="20" width="150" height="150" style="fill:black;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />
    <text fill="#ffffff" font-size="45" font-family="Verdana"
  x="77" y="109"><a href="#"> SVG</a></text>
  Sorry, your browser does not support inline SVG.
</svg>


<svg width="200" height="200">
  <rect x="50" y="20" width="150" height="150" style="fill:black;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />
    <text fill="#ffffff" font-size="45" font-family="Verdana"
  x="77" y="109"><a href="#"> SVG</a></text>
  Sorry, your browser does not support inline SVG.
</svg>

<svg width="200" height="200">
  <rect x="50" y="20" width="150" height="150" style="fill:black;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />
    <text fill="#ffffff" font-size="45" font-family="Verdana"
  x="77" y="109"><a href="#"> SVG</a></text>
  Sorry, your browser does not support inline SVG.
</svg>

<svg width="200" height="200">
  <rect x="50" y="20" width="150" height="150" style="fill:black;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />
    <text fill="#ffffff" font-size="45" font-family="Verdana"
  x="77" y="109"><a href="#"> SVG</a></text>
  Sorry, your browser does not support inline SVG.
</svg>

<svg width="200" height="200">
  <rect x="50" y="20" width="150" height="150" style="fill:black;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />
    <text fill="#ffffff" font-size="45" font-family="Verdana"
  x="77" y="109"><a href="#"> SVG</a></text>
  Sorry, your browser does not support inline SVG.
</svg>

<svg width="200" height="200">
  <rect x="50" y="20" width="150" height="150" style="fill:black;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />
    <text fill="#ffffff" font-size="45" font-family="Verdana"
  x="77" y="109"><a href="#"> SVG</a></text>
  Sorry, your browser does not support inline SVG.
</svg>

<svg width="200" height="200">
  <rect x="50" y="20" width="150" height="150" style="fill:black;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />
    <text fill="#ffffff" font-size="45" font-family="Verdana"
  x="77" y="109"><a href="#"> SVG</a></text>
  Sorry, your browser does not support inline SVG.
</svg>

<svg width="200" height="200">
  <rect x="50" y="20" width="150" height="150" style="fill:black;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />
    <text fill="#ffffff" font-size="45" font-family="Verdana"
  x="77" y="109"><a href="#"> SVG</a></text>
  Sorry, your browser does not support inline SVG.
</svg>
</div>







</body>


{% else %}
    <p>siktir puşt</p>
</html>

{% endif %}